
/**************************
GENERAL
**************************/
body {
	font-family: 'Titillium Web' sans-serif;
	background-image: url("../images/linen.png");
	margin: 20px;
}

#wrapper {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
	padding: 2%;
	background-color: #E0E4CC;
}

#wrapper a {
	color: #FA6900;
}

#wrapper a:hover{
	color: #69D2E7;
	background-color: #E0E4CC;
}


/**************************
HEADER
**************************/

header, footer{
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
	padding: 2%;

}

header{
	background-color: #FA6900;
}

#name {
	text-align: center;
	margin: 0;
}

h1, h2 {
	color: #69D2E7;
	text-align: center;
	padding: 5px 0;
}

h1 {
	font-size: 2em;
	font-weight: 700;
}

h2 {
	font-size: 1em;
	font-weight: 400;
}


/**************************
NAVIGATION
**************************/
nav {
	width: 30%;
	float: left;
	margin: 1%;
	background-color: #A7DBD8;
}

nav  ul {
	list-style: none;
	margin: 2%;
	padding: 2%;
}

nav ul li {
	padding: 3%;
}

/**************************
	SIDEBAR
**************************/
#sidebar {
	width: 60%;
	float: right;
	margin: 1%;
	background-color: #A7DBD8;
}

#sidebar img{
	width: 150px;
	height: auto;
	max-width: 100%;
	float: left;
	margin: 1%;
}

#sidebar h2{
	font-size: 1.25em;
	color: #FA6900;	
	font-weight: 700;
}

#sidebar p{
	color: #FA6900;
	text-align: justify;
	padding-right: 2%;

}


/**************************
GALLERY
**************************/

section {
	clear: both;
}

#gallery li {
	display: inline-block;
	margin: 1%;
	}

#gallery p{
	text-align: center;
}

#gallery img {
	width: 300px;
	height: auto;
	max-width: 100%;
}

/**************************
FOOTER
**************************/

footer {
	font-size: 1em;
	background-color: #F38630;
	color: #E0E4CC;
	text-align: right;
	padding-top: 20px;
}	

.social-icon{
	width: 24px;
	height: 24px;
	margin: 0;
	padding-right: 1%;
}
	
footer p{
	padding-top: 10px;

}
